<section class="fixed left-0 top-0 px-20 pt-20 md:px-50 md:pt-25" data-info-wrapper>
  {{ partial:icons/info-button }}
  <div class="hidden md:!block pt-45 md:pt-0 max-w-[440px]" data-info-content>
    {{ if content_text }}
      {{ partial:content/text :content="content_text" }}
    {{ /if }}
    {{ partial:menu/main }}
  </div>
  {{ partial:icons/logo }}
</section>

{{ if content_media }}
  <section class="pt-80 pr-20 pb-40 pl-80 md:pl-200 lg:pl-[400px] md:pr-50">
    <div class="md:grid md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 md:gap-x-25 md:gap-y-50  direction-rtl">
      {{ partial:content/media :content="content_media" }}
    </div>
  </section>
{{ /if }}
