<section class="fixed left-0 top-0 pl-20 pt-20" data-info-wrapper>
  
  <a href="javascript:;" data-info-btn class="sm:hidden">
    <span class="w-39 h-39 border-3 border-white rounded-full flex justify-center items-center leading-none" data-info-icon-show>
      <span class="font-bold text-3xl">i</span>
    </span>
    <div class="relative h-40 w-40 hidden" data-info-icon-hide>
      <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -rotate-45 w-40 h-3 bg-white"></span>
      <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rotate-45 w-40 h-3 bg-white"></span>
    </div>
  </a>

  <div class="hidden sm:!block pt-50 pr-25 max-w-[320px] lg:max-w-[400px]" data-info-content>
    {{ if content_text }}
      {{ partial:content/text :content="content_text" }}
    {{ /if }}
    {{ partial:menu/main }}
  </div>
</section>

{{ if content_media }}
  <section class="md:col-span-10 md:col-start-3">
    <div class="md:grid md:grid-cols-6 md:gap-20 direction-rtl">
      {{ partial:content/media :content="content_media" }}
    </div>
  </section>
{{ /if }}