<section class="fixed left-0 top-0 pl-20 pt-20" data-info-wrapper>
  {{ partial:icons/info-button }}
  <div class="hidden sm:!block pt-50 pr-25 max-w-[320px] lg:max-w-[400px]" data-info-content>
    {{ if content_text }}
      {{ partial:content/text :content="content_text" }}
    {{ /if }}
    {{ partial:menu/main }}
  </div>
</section>

{{ if content_media }}
  <section class="md:col-span-10 md:col-start-3">
    <div class="md:grid md:grid-cols-6 md:gap-20 direction-rtl">
      {{ partial:content/media :content="content_media" }}
    </div>
  </section>
{{ /if }}
