<a href="javascript:;" data-info-btn class="sm:hidden">
  <span class="w-39 h-39 border-3 border-white rounded-full flex justify-center items-center leading-none" data-info-icon-show>
    <span class="font-bold text-3xl">i</span>
  </span>
  <div class="relative h-40 w-40 hidden" data-info-icon-hide>
    <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -rotate-45 w-40 h-3 bg-white"></span>
    <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rotate-45 w-40 h-3 bg-white"></span>
  </div>
</a>