<!doctype html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ seo_title ?? title }} &bull; {{ site:name }}</title>
<meta name="description" content="{{ seo_description }}">
<meta property="og:title" content="{{ seo_title ?? site:name }}">
<meta property="og:description" content="{{ seo_description }}">
<meta property="og:url" content="{{ config:client:base_url }}">
<meta property="og:image" content="{{ if seo_image }}{{ config:client:base_url }}{{ seo_image }}{{ else }}{{ config:client:base_url }}/img/ruem-og.jpg{{ /if }}">
<meta property="og:site_name" content="{{ seo_title ?? site:name }}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<meta name="csrf-token" content="RqiwoaZ7fhAKNssyf0W3dBGhX8o8GDDsrCOtHJHR" />
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="{{ mix src='css/app.css' }}">
</head>
<body class="relative antialiased bg-black text-white p-20 pl-80 pt-80 md:py-25 md:px-50 md:pt-80 xl:pt-100">
  <main class="md:grid md:grid-cols-12">
    {{ template_content }}
  </main>
</body>
<script src="{{ mix src='/js/app.js' }}"></script>
</html>