/* selector for classes starting with "span-" */
/* [class^="span-"] {
  @apply bg-green-100
} */

.span-1 {
  @apply md:col-span-1
}

.span-2 {
  @apply md:col-span-2
}

.span-3 {
  @apply md:col-span-3
}

.span-4 {
  @apply md:col-span-3 xl:col-span-4
}

.span-5 {
  @apply md:col-span-3 xl:col-span-4 2xl:col-span-5
}

.span-6 {
  @apply md:col-span-3 xl:col-span-4 2xl:col-span-6
}

.direction-rtl {
  direction: rtl;
}

.direction-ltr {
  direction: ltr;
}

.direction-rtl figcaption {
  direction: ltr;
}

.max-width-100 {
 @apply max-w-[100%] md:max-w-none
}

.max-width-75 {
  @apply max-w-[75%] md:max-w-none
}

.max-width-50 {
  @apply max-w-[50%] md:max-w-none
}
